@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.004em;

    background: #EEF9BF;
    color: #75B79E;
    box-sizing: border-box;

    flex-direction: column;
}

body, .screen, .card {
    display: flex;
    justify-content: center;
}

body, .card {
    align-items: center;
}

h1, .screen {
    width: 90%;
}

h1 {
    margin: 30px 0;
    font-size: 56px;
    line-height: 66px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.screen {
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 117px;
    height: 146px;
    margin: 17px;

    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    /* transform: scale(1);
       perspective: 500px; */
}

.card:active {
    transform: scale(0.90);
    transition: transform 0.3s;
}

.front-card, .back-card {
    position: absolute;

    backface-visibility: hidden; 
    transform-style: preserve-3d;
    transition: all 0.5s;
  
}

.card.flip {
    transform: rotateY(180deg);
}

.back-card {
    transform: rotateY(-180deg);
  }
  
.front-card {
    transform: rotateY(0deg);
}
  
.front-card.turned {
    transform: rotateY(-180deg);
}
  
.back-card.turned {
    transform: rotateY(0deg);
}

.hidden {
    display: none;
}

.unhidden {
    display: initial;
}

.disabled {
    pointer-events: none;
}

@media (max-width: 509px) {
    h1 {
        font-size: 36px;
        line-height: 42px;
    }
}